body{
    text-align: center;
}

#form{
    margin:10px 0;
    display: flex;
    flex-direction: column;
}

#form div{
    margin-bottom: 10px; 
}

#admin_urls {
    margin:auto;
    width: 100%;
    text-align: center;
}

#admin_urls td, #admin_urls th{
    border: solid black 1px;
}